.alarmBoxScrollDiv {
	position: relative;
	overflow: auto;
	width: 100%;
	height: auto !important;
}

.alarmBoxScrollArea {
	max-height: 400px;
	overflow: auto;
	width: 100%;
	height: auto !important;
}

.alarmBoxScrollArea::-webkit-scrollbar {
	width: 12px;
}

.alarmBoxScrollArea::-webkit-scrollbar-thumb {
	background-color: #0fc19e;
	border-radius: 10px;
}

.alarmBoxScrollArea::-webkit-scrollbar-track {
	background-color: #dbdbdb;
	border-radius: 10px;
}

.markAsRead {
    width: 45px;
    height: 36px;
    border: none;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    text-align: center;
	vertical-align: center;
	float: right;
}
