body {
    font-family: Arial;
}

/* Style the tab */
.tab {
	overflow: hidden;
    background-color: #ffffff;
    width:100%;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	color: black;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 40px;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #0fc19e;
	color: #ffffff;
}

/* Create an active/current tablink class */
/* .tab button.active {
	background-color: #ccc;
} */

.tab .account-btn-clicked {
	background-color: #0fc19e;
	color: #ffffff;
}

.form-group-join input {
	font-family: 'Nanum Gothic', sans-serif;
}
