.col-lg-6 em .select {
    color:#0fc19e;
    padding-top:5px;
    padding-bottom:5px
}

.select-contents {
    float:left;
    width:15%; 
    border-bottom-color:#0fc19e;
    border-width:5px; 
    border-bottom-style:solid;
}

.noselect-contents {
    float:left; 
    width:15%
}

.noselect-contents:hover {
    background-color: #d6d6d63f;
    border-radius: 10%;
    margin-top: 3px;
}

.select-contents .nav-icon {
    margin:0px
}

.noselect-contents .nav-icon {
    margin:0px
}

.select-contents .fa {
    color:#0fc19e;
    padding-top:5px; 
    padding-bottom:5px
}

.select-contents .fas {
    color:#0fc19e;
    padding-top:5px; 
    padding-bottom:5px
}

.noselect-contents .fa {
    color:#b9bdbd;
    padding-top:5px; 
    padding-bottom:5px
}

.noselect-contents .fas {
    color:#b9bdbd;
    padding-top:5px; 
    padding-bottom:5px
}

span .tooltip-custom {
    display: none;
    position: relative;
    top: 30px;
    right: 0px;

}

strong:hover .tooltip-custom {
    display: inline-block;
    border-radius: 8px;
    padding: 3px 8px 3px 8px;
    background-color: #3C3C3C;
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 0.8em;
    text-align: center;
    position: absolute;
    margin-top: 20px;

}



