#deleteIcon{
    display:inline-block;
    float: right;
    margin-right:20px;
    color:red;
    margin-top:6px;
    cursor: pointer;
    font-size: 1.2em;
}

#deleteIcon:hover{
    transform: scale(1.2);
}

