.MuiDialogContent-root{
  overflow-y: hidden;
}

.react-daypicker-root {
  height : 100%;
  width : 100%;
}
  .react-daypicker-root abbr {
    width: 75px;
    padding-left: 45px;
    text-align: center;
    border-bottom: 0;
    text-decoration: none; }

    .react-daypicker-root .button-div{
      height:50px;
      width: 220px;
      margin: auto;
    }

    .react-daypicker-root .tr{
      border-bottom: solid 3px #88898A;
      font-family: "'Nanum Gothic', sans-serif";
      font-weight: bold;
      text-align: center;
    }
  

  .react-daypicker-root td{
    padding: 5px;
    width:127px;
    font-size: medium; 
    text-align: center;
  }

.sunday{
  color: red;
  width:127px;
  }

.saturday {
  color:blue;
  width:127px;
}
  .react-daypicker-root .header {
    display: flex;
    flex-direction: row;
    
  }
  .react-daypicker-root .previous-month,
  .react-daypicker-root .next-month {
    color: #9b9b9b;
    cursor: pointer;
    padding: 5px;
    user-select: none;
    width: 40px; }
    .react-daypicker-root .previous-month:hover,
    .react-daypicker-root .next-month:hover {
      color: #000; }
  .react-daypicker-root .next-month {
    text-align: right; }
  .react-daypicker-root .month-year {
    flex: 2;
    font-weight: bold;
    text-align: center;
    font-family: "'Nanum Gothic', sans-serif";
    font-size: x-large;
    background-color: #88898A;
    border-radius: 10px;
    color:white;
  }
  .react-daypicker-root .day {
    padding-top: 30px;
    cursor: pointer;
    width: 112px;
    font-family: "'Nanum Gothic', sans-serif";
    font-weight: bold;
   
    &:first-child{
      color: red;
    }
    .day-a{
      color:#90a4ae;
    }
  }

    .react-daypicker-root .day.active {
      
      border-radius: 100%;
     }
    .react-daypicker-root .day.empty {
      border-radius: 100%;
      cursor: default;
    }
    .react-daypicker-root .day.today {
      font-weight:bold;
      text-decoration: underline;
      text-decoration-color: black;
    }

    .react-daypicker-root .total-table{
      font-family: "'Nanum Gothic', sans-serif";
      height: 100%;
      width: 100%;
      
      text-align: center;
      
    }
    .react-daypicker-root .table-border{
      height: 80%;
      width: 100%;
      border: solid 3px #88898A;
      border-radius: 5%;
    }
    .react-daypicker-root .index-repository, .react-daypicker-root .index-todo-list{
      width:100px;
      height: 30px;
      color:#88898A;
      font-weight: bold;
      border-radius: 7px;
      text-align:center;
      font-family: "'Nanum Gothic', sans-serif";
      border:0;
      outline: 0;
      margin : auto;
      font-size: medium;
    }

    .react-daypicker-root .index-todo-list-todo{
      width:100px;
      height: 30px;
      background:#545654;
      color:white;
      border-radius: 7px;
      text-align:center;
      font-family: "'Nanum Gothic', sans-serif";
      border:1.5px solid #545654;
      outline: 0;
      margin : auto;
      font-weight: bold;
      font-size: 20px !important;
    }

    .react-daypicker-root .index-repository-list{
      width:100px;
      height: 30px;
      background:#545654;
      color:white;
      border-radius: 7px;
      text-align:center;
      font-family: "'Nanum Gothic', sans-serif";
      border:1.5px solid #545654;
      outline: 0;
      margin : auto;
      font-size: 20px !important;
      font-weight: bold;
    }

    .react-daypicker-root .index-todo-list, .react-daypicker-root .index-todo-list-todo{
      margin-left: 10px;
      font-weight: bold;
    }
    
    .react-daypicker-root .index-todo-list:hover, .react-daypicker-root .index-repository:hover{
      font-family: "'Nanum Gothic', sans-serif";
      font-size: 20px !important;
      background:#545654;
      border:1.5px solid #545654;
      font-weight: bold;
      color:white
    }
    
  


   /* ==========================================================================
   Modal Styles
   ========================================================================== */  



   .modal-body{
     width: 348px;
     height: 540px;
   }

   .row{
     width: 100%;
     height: 100%;
   }

.dialog-title{
  font-family: "'Nanum Gothic', sans-serif";
  font-size: 1.2em;
  color: #88898a !important;
}

.modal-dialog{
  width: 830px;	
  height: 450px !important;
}
.modal-image img{
  width: 600px !important;	
  height: 540px !important;	
}

.img-poster{
  margin-bottom: 10px;	
  border-bottom: solid 1px #f4f4f4;
  padding-bottom: 5px;	
}

.modal-meta-top{
  width: 350px;
}

.modal-meta-top .img-poster img {
  height: 34px;
  width: 34px;
  float: left !important;
  margin-right: 10px;
  border: 4px solid #f4f4f4;
}
.modal-meta-top .img-poster a{
  font-family: "'Nanum Gothic', sans-serif";	
  font-size: 14px;	
  color: #88898a !important;	
}
.modal-meta-top .img-poster span {
  font-family: "'Nanum Gothic', sans-serif";
  color: black;
  font-size: 12px;
}
.modal-meta-top .img-poster a.kafe-btn-mint-small {
  font-family: "'Nanum Gothic', sans-serif";	
  margin-left: 0px;
  color: #fff !important;
  border-radius: 3px;  
}

.modal-body .row .col-md-4-modal-meta .modal-meta-top .close{
  color: black;
  font-size: large;
}


.img-comment-list {
  list-style: none;  
  padding: 0px 10px 30px 0px;
  margin-left: 10px;
  height: 400px !important;
  width: 350px;
  overflow-y: auto;
  overflow-x: hidden;

}
.img-comment-list li {
    margin-top: 5px 0px 10px 0px;
}
.img-comment-list li > div {
    display:table-cell;
}
.img-comment-list .comment-img {
  float: left !important;	
  margin-right: 10px !important;
  margin-top: 5px;
}
.img-comment-list img {
  width: 22px;
  height: 22px;
}
.img-comment-list li a{
  font-family: "'Nanum Gothic', sans-serif";
  font-size: 15px;	
  color: #88898a !important;	
}
.img-comment-list p {
  font-family: "'Nanum Gothic', sans-serif";
  margin: 0;
  font-size: 18px;
  color: #848484;
}
.img-comment-list span {
  font-family: "'Nanum Gothic', sans-serif";
  font-size: 0.8em; 
  color: #aaa;
}

.img-poster clearfix
.modal-meta-bottom {
    bottom: 0;
    left: 0;
    right: 0;
    border-top: solid 1px #f4f4f4;
    height: 30px;
	display: block;
}
.modal-meta-bottom ul{
  margin: 0px !important;
  padding: 0px !important;
  font-size: 0px !important;
}
.modal-meta-bottom li{
  list-style: none;	
  padding: 0px !important;
  margin: 0px !important;
  font-size: 0px !important;
}
.modal-meta-bottom li a.modal-like i{
  font-size: 14px !important;
  color: #e16a70 !important;
  margin-right: 4px;
  margin-left: 10px;
}
.modal-meta-bottom li a.modal-comment i{
  font-size: 14px !important;
  color: #848484 !important;
  margin-right: 4px;
}
.modal-meta-bottom li span.modal-one{
  margin-right: 10px;	
  color: #e16a70 !important;
}
.modal-meta-bottom li span{
  font-family: "'Nanum Gothic', sans-serif";
  font-size: 14px !important;
  color: #848484;
}
.modal-meta-bottom li a:hover{
  color: #e16a70 !important;
}
.modal-meta-bottom .thumb-xs{
  display: inline-block;
  text-align: center;
  margin: 0px !important;
  padding: 0px !important;
}
.modal-meta-bottom .thumb-xs img{
  width: 25px;
  height: 25px;  
}
.modal-meta-bottom .comment-body {
  float: right !important;
  margin: 0px !important;
  padding: 0px !important;
}
.modal-meta-bottom .comment-body input{
  width: 100%;
}

.deleteButton{
  animation-fill-mode: forwards;
  font-family: monospace;
  cursor: pointer;
}


.img{
  width: 25px;
  height: 25px;
}

.deleteButton .fa-backspace{
  color:red;
  font-size: 1.2em;
}

.deleteButton .fa-backspace:hover{
  transform: scale(1.2);
}


    
    