#searchInput:focus{
    outline: none;
}

.cardbox-headingss {
    background-color: #F4F4F4;
    box-shadow: none;
    padding: 10px 0px 0px 0px;
}

.cardbox-headingss:hover {
    background-color: #DFDFDF;
}

.fa-question-circle{
    position: relative;
    float: right;
    font-size: 1.5em;
    margin-top: 2px;
}

.fa-question-circle:hover{
    cursor: pointer;
   color: #0FC19E;
}

