#commitCardbox{
  border-left:10px solid #0FC19E;

}


.img1-comment-list {
    list-style: none;  
    padding: 0px 10px 30px 0px;
    
    max-height:200px ;
    width: 100%;
    overflow-y: auto;	
  }
  .img1-comment-list li {
      margin: 2px 0px 0px 20px;

  }
  .img1-comment-list li > div {
      display:table-cell;
  }
  .img1-comment-list .comment-img {
    float: left !important;	
    margin-right: 10px !important;
    margin-top: 5px;
  }
  .img1-comment-list img {
    width: 37px;
    height: 37px;
  }
  .img1-comment-list li a{
    font-family: 'Varela Round', serif;	
    font-size: 1.1em;	
    color: #88898a !important;
    margin-left: 3px;
  }
  .img1-comment-list li a:hover{
   
    color: #0FC19E !important;
  }
  .img1-comment-list p {
    font-family: 'Varela Round', serif;
    margin-left: 50px;
    font-size: 1.1em;
    width: 90%;
    word-break: break-all;
    color: #848484;
  }
  .img1-comment-list span {
    font-family: 'Varela Round', serif;
    font-size: .8em; 
    color: #aaa;
    float: right;
    margin-right: 20px;
  }


  .tagword{
    display: inline-block;
      height: 24px;
      line-height: 24px;
      position: relative;
      margin: 0 16px 8px 0;
      padding: 0 10px 0 12px;
      background: #0FC19E;    
      -webkit-border-bottom-right-radius: 3px;    
      border-bottom-right-radius: 3px;
      -webkit-border-top-right-radius: 3px;    
      border-top-right-radius: 3px;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      color: #fff;
      font-size: 12px;
      font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
      text-decoration: none;
      text-shadow: 0 1px 2px rgba(0,0,0,0.2);
      font-weight: bold;
      box-shadow: 3px 3px 3px 1px gray; 
      margin:13px;

      cursor: pointer;
  }
  
  .tagword:before {
    content: "";
    position: absolute;
    top:0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #0FC19E transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;        
    }
  
    .tagword:after {
      content: "";
      position: absolute;
      top: 10px;
      left: 1px;
      float: left;
      width: 5px;
      height: 5px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: #fff;
      -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
      box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
      }
  
      .tagword:hover{
  
        transform: scale(1.1);
      }


#likered{
  color:#E16A70;
  cursor:pointer;

}
#likered:hover{

  color:#B2B2B2;
  transform:scale(1.2)
}

#likedblack{
  color:#B2B2B2;
  cursor:pointer;

}
#likedblack:hover{

  color:#E16A70;
  transform:scale(1.2)
}

#comment{
  cursor: pointer;
  color: #B2B2B2 ;
}

#comment:hover{
  
  color: #E16A70 ;
  transform:scale(1.2)
}


#uploadDescription::-webkit-scrollbar {
  width: 3px;
}
#uploadDescription::-webkit-scrollbar-thumb {
  background-color: #0FC19E;
}
#uploadDescription::-webkit-scrollbar-track {
  background-color: #DBDBDB;
}

#fileimage{
 max-width: 100%;
 max-height: 100%;
 margin:-30px auto;
  cursor: pointer;
}

#fileimage:hover{

  transform: scale(1.2);
}

.main-nocontents {
  background-color:#F4F4F4;
  width:100%;
  height:100%;
  margin: 0 auto;
}

.main-nocontents-area {
  width:900px;
  margin:0px auto;
  margin-top: 100px;
  border-radius:20px;
}
.main-nocontents-area h1 {
  color: #5e5d5d;
}

.main-nocontents-area text {
  color: #848484;
  font-size: 1.5em;
}

.fa-github:hover{
  transform: scale(1.2);
}