.UploadPage .input1{
 padding-left: 14px;
  height: 30px;
  font-size: 14px;
  font-family: "Valera Round";
}

.UploadPage .input1::placeholder{
  color :#969696;
  font-family: "Valera Round";
 
  
}

.UploadPage .input1:focus{
  outline: none;
}

.UploadPage textarea{
  font-size: 14px;
  font-family: "Valera Round" !important;
}

.UploadPage textarea::placeholder{
  font-family: "Valera Round";
  color :#969696;

}

.UploadPage textarea:focus{
  font-family: "Valera Round";
  outline: none ;
  box-shadow: none;
  font-size: 14px;
  
}

